* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

ul {
    position: relative;
    display: flex;
    gap: 25px;
}

ul li {
    position: relative;
    list-style: none;
    width:  125px;
    height: 125px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: 0.8s;
}

ul li:hover{
    width: 345px;
}



ul li::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 60px;
    background: linear-gradient(to right top, #051937, #10315c, #1a4c84, #1e68ae, #1b87da);    opacity: 0;
    transition: 0.8s;
}

ul li:hover::before {
    opacity: 1;
}

ul li::after {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(to right top, #051937, #10315c, #1a4c84, #1e68ae, #1b87da);    transition: 0.5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}

ul li:hover::after {
    opacity: 0.5;
}

ul li ion-icon {
    font-size: 3.5em;
    transition: 0.5s;
    transition-delay: 0s;
}

ul li:hover ion-icon {
    transform: scale(0);
    color:white;
}

ul li span {
    position: absolute;
}

ul li .title {
    /* font-size: 1.25em; */
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
    font-weight: bold;
    color: white;
}

ul li:hover .title {
    transform: scale(1);
    transition-delay: 0.25s;
}