* {
    padding: 0px;
    margin: 0px;
    font-family: "Glacial Indifference";
    color: white;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Glacial Indifference";
    src: url("./fonts/GlacialIndifference-Regular.otf");
    color: white;
}

@font-face {
    font-family: "Glacial Indifference Bold";
    src: url("./fonts/GlacialIndifference-Bold.otf");
    color: white;
}

@font-face {
    font-family: "Glacial Indifference Italic";
    src: url("./fonts/GlacialIndifference-Italic.otf");
    color: white;
}

body {
    background-color: #0C1233;
}

#particles-js {
    height: 100%;
    background-color: #0C1233;
    font-family: "Glacial Indifference";
    color: white;
}

#header > a {
    margin-top: 20px;
    font-family: "Glacial Indifference";
    font-size: 18px;
    display: inline-block;
    margin-right: 50px;
    text-decoration: none;
}

#contactH {
    color: #2E86FE;
    border: solid 2px #2E86FE;
    border-radius: 25px;
    padding: 10px;
}

#about {
    height: 1080px;
    background-color: white;
}

#about > h1{
    color: black;
}

.bc {
    color: black;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 5px 0px 5px black;
}

#name {
    font-size: 75px;
    font-family: "Glacial Indifference Bold";
}

#knowMore {
    color: #2E86FE;
    border: solid 2px #2E86FE;
    border-radius: 25px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    margin-top:25px;
}

#welcome {
    margin: 250px;
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

.container {
    position: relative;
    height: 1080px;
}

.box {
    position: absolute;
}

.stack-top {
    z-index: 9;
}

.first {
    animation: 2s anim-lineUp ease-out;
}

.second {
    animation: 3s anim-lineUp ease-out;
}

.third {
    animation: 4s anim-lineUp ease-out;
}

.fourth {
    animation: 5s anim-lineUp ease-out;
}

#text-about {
    display: flex;
    flex-direction: column;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #0C1233;
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #2E86FE;
    color: white;
}
  
  /* Add an active class to highlight the current page */
.topnav a.active {
    /* background-color: #2E86FE; */
    color: white;
}
  
  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}