* {
    padding: 0px;
    margin: 0px;
    font-family: "Glacial Indifference";
    /* color: white; */
    /* background-color: #0C1233; */
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: "Glacial Indifference";
    src: url("./fonts/GlacialIndifference-Regular.otf");
    color: white;
}

@font-face {
    font-family: "Glacial Indifference Bold";
    src: url("./fonts/GlacialIndifference-Bold.otf");
    color: white;
}

@font-face {
    font-family: "Glacial Indifference Italic";
    src: url("./fonts/GlacialIndifference-Italic.otf");
    color: white;
}

body {
    background-color: #311c02;
    
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

#myTopnav {    
    display: flex;
    justify-content: flex-end;
    margin: 15px;
    margin-top: 15px;
}

#myTopnav > a {
    font-size: 18px;
    text-decoration: none;
    /* float: right; */
}

/* #header > a {
    margin-top: 20px;
    font-family: "Glacial Indifference";
    font-size: 18px;
    display: inline-block;
    margin-right: 50px;
    text-decoration: none;
} */

#contactH {
    color: #e6d2b7;
    border: solid 2px #e6d2b7;
    border-radius: 25px;
    /* padding: 10px; */
}

#about {
    height: 900px;
    color: #311c02;
    background-color: white;
}

.text-about {
    font-size: 25px;
}

#about > h1 {
    font-size: 75px;
    font-family: "Glacial Indifference Bold";
}
  
@media screen and (max-width: 460px) {
    #name {
        font-size: 55px;
    }
}

#name {
    font-size: 75px;
    font-family: "Glacial Indifference Bold";
    color: white;
}

#knowMore {
    color: #2E86FE;
    border: solid 2px #2E86FE;
    border-radius: 25px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    margin-top:15px;
}

#dlCV {
    background-color: #2E86FE;
    color: white;
    border-radius: 25px;
    padding: 10px;
    display: block;
    text-decoration: none;
    margin-top:15px;
    float: right;
}

#text-about > a {
    width: 250px;
}

#knowMore:hover {
    background-color: #2E86FE;
    color: white;
}

#dlCV:hover {
    background-color: white;
    color: #2E86FE;
    border: solid 2px #2E86FE;
}

#welcome {
    margin: 12%;
}

#welcome > p {
    color: white;
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

.contenant {
    position: relative;
    height: 1080px;
    width: 100%;
}

.box {
    position: absolute;
}

.stack-top {
    z-index: 9;
}

@media (prefers-reduced-motion: no-preference) {
.first {
    animation: 2s anim-lineUp ease-out;
}
}

@media (prefers-reduced-motion: no-preference) {
.second {
    animation: 3s anim-lineUp ease-out;
}
}

@media (prefers-reduced-motion: no-preference) {
.third {
    animation: 4s anim-lineUp ease-out;
}
}


@media (prefers-reduced-motion: no-preference) {
.fourth {
    animation: 5s anim-lineUp ease-out;
}
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #311c02;
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #2E86FE;
    color: white;
    border-radius: 25px;
}

#contactH:hover {
    color: white;
}
  
  /* Add an active class to highlight the current page */
.topnav a.active {
    /* background-color: #2E86FE; */
    color: white;
}
  
  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    #name {
        font-size: 55px;
    }
    .text-about {
        font-size: 18px;
    }
    #about {
        height: 1300px;
    }
    .element-parent {
        height: 2500px;
    }
    /* #contact {
        height: 2000px;
    } */
}

@media screen and (min-width: 600px) {
    #name {
        font-size: 55px;
    }
    .text-about {
        font-size: 18px;
    }
    #about {
        height: 1300px;
    }
    #contact {
        height: 2000px;
    }
}
  
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  #myTopnav {
    display: block;
  }
}

.transition {
    height: 8vw;
    /* width: 100%; */
    margin: -4vw 0px -4vw 0px;
    transform: rotate(-4deg) scale(1.01, 1);
    background-color: #0C1233;
}

.transition2 {
    margin-top: 150px;
    height: 8vw;
    /* width: 100%; */
    margin: -4vw 0px -4vw 0px;
    transform: rotate(-4deg) scale(1.01, 1);
    background-color: white;
}

#projects {
    margin-top: 15%;
    background-color: #0C1233;
    color: white;
    margin-bottom: 200px;
}

.displayproject {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    height: 500px;
    width: 65%;
    justify-content: center;
    align-items: stretch;


}
ol, ul { list-style-type: disc;}

.d{
    flex-direction: column;
    width: 1500px;
}

.deccUp {
    margin-top: 25px;
}

.decc {
    margin-left: 25px;
    color: white;
}

li {
    list-style-type: circle;
}

ul {
    list-style-type: circle;
}

.titleProject {
    font-size: 50px;
    font-weight: bold;
    color: white;
}


.detailProject_list {
    /* background-color: blue; */
    /* height: 100%; */
    background-color: #4b5692;
    border-radius: 10px 10px 0px 0px;
    padding: 25px 25px 0px 25px;
    margin-bottom: 0px;
    font-size: 22px;
    color: white;
}

.detailProject {
    /* background-color: blue; */
    /* height: 100%; */
    background-color: #4b5692;
    border-radius: 10px 10px 10px 10px;
    padding: 25px 25px 25px 25px;
    font-size: 22px;
    color: white;
}

.vid {
    width:  350px;
    height: 350px;
    margin-top: 225px;
}

.list {
    background-color: #4b5692;
    border-radius: 0px 0px 10px 10px;
    padding: 25px 25px 25px 25px;
    color: white;
    font-size: 18px;
}

.keywords {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.imgProject {
    /* width: 55%; */
    /* background-color: green; */
    border-radius: 10px 10px 10px 10px;
    /* transform: scale(0.8); */
    margin-top: 200px;

}

.proglanguages {
    /* align-self: flex-end; */
    font-weight: bold;
    color: #2E86FE;
    font-size: 18px;
    /* cursor: pointer; */
    margin-top: 1%;
    position: relative;
    left: 15px;
}


.cat_projects {
    margin-top: 20%;
    color: #2E86FE;
}

.rescale {
    /* width: 300px;
    height: 300px; */
    cursor: pointer;
    margin-top: 20%;
}


.lightbox {
	cursor: pointer;
	transition: all 0.5s ease;
}
.lightbox:hover {
	transform: scale(1.03);
}


#bg {
	position: fixed;
	top:  0px;
	left:  0px;
	width:  100vw;
	height: 100vh;
}

#box {
	margin: 5vh 10vw;
	height:  85vh;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	padding:  2vh;
	text-align: center;
	position: relative;
	transition: all 1s ease;
}
#box img {
	height:  100%;
}
.oust {
	transform: 
		translateX(100vw)
		rotate(20deg);
}
.atable {
	transform: 
		scale(0);

}
#closeButton {
	position: absolute;
	top:  0px;
	right: -30px;
	padding:  7px 10px;
	background-color: white;
	border-radius: 50%;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.5s ease;
}
#closeButton:hover {
	transform: scale(1.1);
	background-color: orange;
	color:  white;
}


#footer {
    /* background-color: white; */
    color: white;
    height: 500px;
    width: 100%;
    padding-top: 15%;
    overflow-y: hidden;
}


#contact {
    background-color: white;
    color: black;
    height: 25%;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 20%;
    overflow-y: hidden;
}

.text-footer {
    text-align: center;
}

.details-footer {
    font-size: 20px;
}

#mail:hover {
    color: #2E86FE;
}

#right {
    float: right;
    /* margin-right: 10%; */
}

a {
    text-decoration: none;
}

#contact > h1 {
    font-size: 35px;
}

#contact > p {
    font-size: 25px;
}

#github {
    color: white;
    margin-right: 15px;
    padding-bottom: 125px;
}

#credits{
    color: white;
    margin-left: 15px;
}

#up {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0C1233;
    border: 3px solid #2E86FE;
    padding-bottom: 12px;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    color: #2E86FE;
}

#up:hover {
    background-color: #2E86FE;
    color: white;
}

#abilities{
    height: 1250px;
}

.tri-sec {
    text-align: center;
    margin:auto;
}

.tri {
    color: #2E86FE;
    border: solid 2px #2E86FE;
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    margin-left: 15px;
}

.element{
    text-align: center;
}

.tri:hover {
    background-color: #2E86FE;
    color: white;
}

.tri-selected {
    background-color: #2E86FE;
    color: white;
}

.element {
    color: white;
    display: inline-block;
    margin-left: 10px;
}

.icon {
    transform: scale(0.5);
}

.img {
    width: 375px;
    height: 550px;
    border-radius: 25%;
}

.tesla{
    width: 425px;
    height: 550px;
    border-radius: 25%;
}

.sae105 {
    width: 300px;
    height: 550px;
}

.center {
    margin-left: 32px;
    font-style: italic;
}

.titleSection {
    font-size: 45px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 35px;
}

.padbt{
}

#contactList {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    gap: 50px;
}

#contactList .contactListElement {
    position: relative;
    list-style: none;
    width:  125px;
    height: 125px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: 0.8s;
}

#contactList .contactListElement:hover{
    width: 345px;
}



#contactList .contactListElement::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 60px;
    background: linear-gradient(to right top, #051937, #10315c, #1a4c84, #1e68ae, #1b87da);    opacity: 0;
    transition: 0.8s;
}

#contactList .contactListElement:hover::before {
    opacity: 1;
}

#contactList .contactListElement::after {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(to right top, #051937, #10315c, #1a4c84, #1e68ae, #1b87da);    transition: 0.5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}

#contactList .contactListElement:hover::after {
    opacity: 0.5;
}

#contactList .contactListElement ion-icon {
    font-size: 5.5em;
    transition: 0.5s;
    transition-delay: 0s;
}

#contactList .contactListElement:hover ion-icon {
    transform: scale(0);
    color:white;
}

#contactList .contactListElement span {
    position: absolute;
}

#contactList .contactListElement .title {
    /* font-size: 1.25em; */
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
    color: white;
}

#contactList .contactListElement:hover .title {
    transform: scale(1);
    transition-delay: 0.25s;
}