* {
    padding: 0px;
    margin: 0px;
    font-family: "Glacial Indifference";
    color: white;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Glacial Indifference";
    src: url("./fonts/GlacialIndifference-Regular.otf");
    color: white;
}

@font-face {
    font-family: "Glacial Indifference Bold";
    src: url("./fonts/GlacialIndifference-Bold.otf");
    color: white;
}

@font-face {
    font-family: "Glacial Indifference Italic";
    src: url("./fonts/GlacialIndifference-Italic.otf");
    color: white;
}

body {
    background-color: #0C1233;
}

#particles-js {
    height: 100%;
    background-color: #0C1233;
    font-family: "Glacial Indifference";
    color: white;
}


#homeH {
    margin-left: 1260px;
}

#header {
    padding-bottom: 20px;
    background-color: #0C1233;
}

#header > a {
    margin-top: 20px;
    font-family: "Glacial Indifference";
    font-size: 18px;
    display: inline-block;
    margin-right: 50px;
    text-decoration: none;
}

#contactH {
    color: #2E86FE;
    border: solid 2px #2E86FE;
    border-radius: 25px;
    padding: 10px;
}

#about {
    height: 1080px;
    background-color: white;
}

#about > h1{
    color: black;
}

#test {
    color: black;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 5px 0px 5px black;
}

#name {
    font-size: 75px;
    font-family: "Glacial Indifference Bold";
}

#knowMore {
    color: #2E86FE;
    border: solid 2px #2E86FE;
    border-radius: 25px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    margin-top:25px;
}

#welcome {
    margin: 250px;
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

.container {
    position: relative;
    height: 1080px;
}

.box {
    position: absolute;
}

.stack-top {
    z-index: 9;
}

.first {
    animation: 2s anim-lineUp ease-out;
}

.second {
    animation: 3s anim-lineUp ease-out;
}

.third {
    animation: 4s anim-lineUp ease-out;
}

.fourth {
    animation: 5s anim-lineUp ease-out;
}